.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

body {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0.4rem 0;
  font-weight: 400;
}

p {
  margin: 1rem 0;
}

form {
  display: inline-grid;
  margin: 4rem;
}

.address {
  font-weight: 700;
  margin: 0;
}

.business-tile-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  margin: 4rem 0;
}

.tile-image {
  object-fit: cover;
  width: 100%;
  height: 300px;
  border-radius: 1rem 1rem 0 0;
}

.tile-info {
  padding: 1rem 2rem;
}

.category-container {
  display: inline-flex;
}

.all-businesses {
  padding: 5rem;
}